.container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
  font-family: Roboto;
}
.calculation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
}
.input-field {
  display: flex;
  flex-direction: column;
  background-color: #1d976c;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e7eb;
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  padding: 20px;
  border-radius: 10px;
  border-width: 0px;
  color: #1d976c;
  font-weight: bold;
  font-size: 18px;
  outline: none;
}
